*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.choose-vs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-vs-player {
    background-color: red;
}

.player-vs-computer {
    background-color: green;
}

.container {
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-grid, .second-grid {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    margin: 20px;
}

.cell {
    border: 1px solid black;
}

